footer.contact
  .container
    h2 Fale conosco
    hr.spacer
    .row
      .contact-wrapper.col-sm-4
        | Rua Álvaro Alvim, 31 - sala 702
        br
        | Cinelândia, Rio de Janeiro - Brasil
      .contact-wrapper.col-sm-4
        .contact-inner
          .icon-wrapper.phone
            span.glyphicon.glyphicon-earphone
          .contact-infos
            | (21) 2533 4344
            br
            | (21) 2533 4355
        .contact-inner
          .icon-wrapper
            span.glyphicon.glyphicon-envelope
          .contact-infos linhares@linhares.com.br